body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;

}

ol, ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.logo-header {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.5px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
}

.hero {
    background-color: #2E2F42;
}

.hero h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
}

.hero-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4d5ae5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}


.team {
    background: #f4f4fd;
}

.accent {
    color: #4d5ae5;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.page-footer {
    background-color: #2E2F42;
    color: #FFFFFF;
    padding: 40px 0;
}

.portfolio h2 {
    text-align: center;
}

.team h2 {
    text-align: center;
}